<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Para poder ter acesso à NET e fazer pedidos HTTP -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" /> <!-- Para poder aceder ao Activity Recognition, neste caso o conta passos -->

    <!-- Permissões para aceder à galeria e à camara -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Para poder usar background services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- Para poder aceder à localização do utilizador -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Para localização mais detalhada,em conjunto com o Fine_Location -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_75hard_challange_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_75hard_challange_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMU_09_8220169_8220307_8220337"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMU_09_8220169_8220307_8220337">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <meta-data-->
        <!--            android:name="com.google.android.gms.version"-->
        <!--            android:value="@integer/google_play_services_version" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <!-- Foreground Services-->
        <service
            android:name=".services.DailyRemeinderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" /> <!-- For Remeinder Notifications -->

        <service
            android:name=".services.StepCounterService"
            android:foregroundServiceType="location" /> <!-- For the running workout -->

    </application>

</manifest>